/* Font Family */

@font-face {
    font-family: 'muliRegular';
    font-display: swap;
    src: url('assets/fonts/Muli-Regular.TTF');
}
@font-face {
    font-family: 'muliBlack';
    font-display: swap;
    src: url('assets/fonts/Muli-Black.TTF');
}
@font-face {
    font-family: 'muliBold';
    font-display: swap;
    src: url('assets/fonts/Muli-Bold.TTF');
}
@font-face {
    font-family: 'muliItalic';
    font-display: swap;
    src: url('assets/fonts/Muli-BlackItalic.TTF');
}
@font-face {
    font-family: 'muliBoldItalic';
    font-display: swap;
    src: url('assets/fonts/Muli-BoldItalic.TTF');
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
}
a, a:hover {
    outline: none;
    color: #222128;
    text-decoration: none;
}
p, h1, h2, h3 {
    margin: 0;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
body {
    background: #fbf6ea;
    overflow-x: hidden;
    color: #222128;
    font-family: "muliRegular", sans-serif;
    font-size: 16px;
    color: #222128;
    margin: 0;
    padding: 0;
}
body .main-body-wrapper {
    width: 100%;
    z-index: 20;
    position: relative;
}
header {
    margin-bottom: 28px;
    background: #ef1e50;
}
header .header-row {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-row .logo-and-title {
    font-size: 30px;
}
header .header-row .logo-and-title a {
    display: flex;
    align-items: center;
}
header .header-row .logo-and-title a .logo {
    width: 24px;
    margin-right: 4px;
}
header .header-row .logo-and-title a .logo-text {
    font-family: "muliBold", sans-serif;
    color: #fff;
}
header .header-row .search-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-row .search-box .search-icon {
    width: 10px;
    height: 10.2px;
    position: absolute;
    top: 19px;
    left: 22px;
}
header .header-row .search-box .search-input {
    width: 370px;
    height: 44px;
    background: #d41a47;
    border-radius: 60px;
    border: 2px solid #fff;
    color: #fff;
    padding-left: 40px;
    outline: none;
}
header .header-row .search-box .search-input::-webkit-input-placeholder {
    /* Edge */
    color: #fff;
    font-size: 12px;
}
header .header-row .search-box .search-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    font-size: 12px;
}
header .header-row .search-box .search-input::placeholder {
    color: #fff;
    font-size: 12px;
}
header .header-row .search-box .about {
    margin-left: 36px;
    color: #fff;
    font-family: "muliBold", sans-serif;
}
.movie-list-item .list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movie-list-item .list-wrapper .movie-list-block {
    margin-bottom: 70px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.movie-list-item .list-wrapper .movie-list-block .content-block {
    padding: 10px;
}
.movie-list-item .list-wrapper .movie-list-block .content-block:hover {
    background: #efe5ca;
    border-radius: 5px;
}
.movie-list-item .list-wrapper .movie-list-block .content-block:hover .poster-image img {
    transform: scale(1.1);
}
.movie-list-item .list-wrapper .movie-list-block .poster-block {
    position: relative;
}
.movie-list-item .list-wrapper .movie-list-block .poster-block .poster-image {
    width: 338px;
    height: 534px;
    overflow: hidden;
}
.movie-list-item .list-wrapper .movie-list-block .poster-block .poster-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.movie-list-item .list-wrapper .movie-list-block .details-section .title {
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "muliBold", sans-serif;
}
.rating {
    height: 36px;
    width: 84px;
    color: #fff;
    background: #ef1e50;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 21px;
    right: 21px;
}
.rating img {
    margin-right: 6px;
}
.rating span {
    line-height: 16px;
}
@media (max-width: 1100px) {
    body {
        font-size: 14px;
    }
    body .item-loader {
        margin-top: 0;
    }
    body .item-loader img {
        width: 40px;
    }
    header {
        margin-bottom: 20px;
    }
    header .header-row {
        height: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }
    header .header-row .logo-and-title a .logo {
        width: 30px;
    }
    header .header-row .logo-and-title a .logo-text {
        display: none;
    }
    header .header-row .search-box {
        width: 85%;
    }
    header .header-row .search-box .search-icon {
        top: 14px;
        left: 16px;
    }
    header .header-row .search-box .search-input {
        width: 100%;
        height: 35px;
        padding-left: 30px;
    }
    header .header-row .search-box .about {
        display: none;
    }
    .movie-list-item .list-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .movie-list-item .list-wrapper .movie-list-block {
        width: 50%;
        height: auto;
        margin-bottom: 20px;
    }
    .movie-list-item .list-wrapper .movie-list-block .content-block {
        padding: 5px;
    }
    .movie-list-item .list-wrapper .movie-list-block .content-block .poster-block .poster-image {
        width: 100%;
        height: auto;
    }
    .movie-list-item .list-wrapper .movie-list-block .content-block .details-section {
        text-align: center;
    }
    .movie-list-item .list-wrapper .movie-list-block .content-block .details-section .title {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 18px;
    }
    .rating {
        width: 45px;
        height: 20px;
        background: rgba(239, 30, 80, .7);
        border-radius: 4px;
        top: 5px;
        right: 5px;
    }
    .rating img {
        width: 10px;
        margin-right: 4px;
    }
    .rating span {
        font-size: 10px;
        line-height: 10px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}